.ronoco{
    display: flex;
    width:100%;
    height:97vh;
}

.ronoco-ui{
    display: block;
    padding: 5px 5px 5px 5px;
    width: 20%;
    min-width: 270px;
}

.ronoco-nodered{
    padding-left: 10px;
    width: 90%;
}

iframe{
    border: none;
}

.logger{
    display: block;
    min-width: 245px;
    overflow: auto;
    overflow-wrap: break-word;
}

.common{
    display: flex;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.button-logo{
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
}
.button-icon {
    color: #494949 !important;
    background: #ffffff;
    border: 2px solid #000000 !important;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.button-icon:hover {
    color: #19234b !important;
    border-radius: 50px;
    border-color: #2b3a7d !important;
    transition: all 0.3s ease 0s;
}

.record{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.form{
    padding-left: 10px;
    padding-right: 10px;
    width: 115px;
}

input[type="number"] {
    width: 20%;
}

pre {
}
.json-key {
    color: brown;
}
.json-value {
    color: navy;
}
.json-string {
    color: olive;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.ronoco-rolling {
    display: none;
    padding: 5px 5px 5px 5px;
    width: 20%;
    min-width: 270px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 70px 70px 70px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: start;
    align-items: center;
    grid-template-areas:
    ". up ."
    "left force-stop right"
    ". down .";
}

.up {justify-self: center; align-self: center; grid-area: up; }

.left {justify-self: center; align-self: center; grid-area: left; }

.right {justify-self: center; align-self: center; grid-area: right; }

.force-stop {justify-self: center; align-self: center; grid-area: force-stop; }

.down {justify-self: center; align-self: center; grid-area: down; }

.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotateimg90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rotateimg270 {
    -webkit-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}