.ronoco{
    display: flex;
    width:100%;
    height:90vh;
}

.ronoco-ui{
    display: block;
    padding: 10px 10px 10px 10px;
    width: 15%;
    min-width: 245px;
}

.ronoco-nodered{
    padding-left: 10px;
    width: 80%;
}

.logger{
    display: block;
    min-width: 245px;
    overflow: auto;
    overflow-wrap: break-word;
}

.common{
    display: flex;
    overflow: auto;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.button-icon{
    padding-left: 10px;
    padding-right: 10px;
}

.record{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.form{
    padding-left: 10px;
    padding-right: 10px;
}

input[type="number"] {
    width: 20%;
}

pre {
}
.json-key {
    color: brown;
}
.json-value {
    color: navy;
}
.json-string {
    color: olive;
}