<?xml version="1.0" encoding="utf-8"?>
<launch>
<param name="ronoco_path" value="$(find ronoco)"/>
<arg name="commander" doc="Move group for moveit" default="manipulator"/>
<arg name="end_effector" doc="Name of service for end effector" default="wsg_50_driver/move"/>
<arg name="compliant_mode" doc="Compliance mode (manual, service's name or None)" default="None"/>
<param name="commander" value="$(arg commander)"/>
<param name="compliant_mode" value="$(arg compliant_mode)"/>
<param name="end_effector" value="$(arg end_effector)"/>
<param name="mode" value="manipulator"/>
<node name="ronoco" pkg="ronoco" type="launch.py"/>
</launch>